body {
    background-color: #3b2a2a;
    color: #e6e6e6;
    font-family: "Noto Sans", serif;
    font-size: 18px;
    margin: 0 auto;
}

h1 {
    font-family: "Tomorrow", serif;
    font-weight: 600;    
}

h2, h3, h4 {
    font-family: "Tomorrow", serif;
    font-weight: 500;
}

h5, h6 {
    font-family: "Tomorrow", serif;
    font-weight: 400;
}

/* Header styling on desktop */

header {
    font-family: "Tomorrow", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

header nav {
    display: flex;
    gap: 20px;
}

.title-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

header a {
    color: #e6e6e6;
}

header nav a:hover, .nav-contact:hover {
    background-color: #6B4F4F;
} 

.header-contact-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .menu-button {
    padding-bottom: 20px;
}

/* Intro/home section styling on desktop */

.intro {
    background-color: #6B4F4F;
    padding: 50px 300px;
    display: flex;
    justify-content: space-between;
}

.intro-text {
    color: #e6e6e6;
    font-size: 1.5rem;
    align-content:center;    
}

.intro-text {
    margin: 0px;
}

.headshot {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100%;
}

/* About section styling on desktop */

.about {
    background-color: #e6e6e6;
    color: #3b2a2a;    
    font-weight: 300;
    display: flex;
    gap: 100px;
    padding: 50px 300px 0px 300px;
}

.about-images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.about-text h2 {
    margin: 0px;
}

.pycon-image {
    max-width: 400px;    
    box-shadow: 5px 5px 5px 5px #a67c7c;
    opacity: 0;
}

.image-animation {
    opacity: 0;
    animation: fadeIn 3s forwards; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Portfolio section styling on desktop */

.portfolio {
    padding: 50px 300px;
    background-color: #e6e6e6;
    color: #3b2a2a;     
}

.portfolio-box-target {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.portfolio-box {    
    background-color: #e6e6e6;
    color: #3b2a2a;
    padding: 20px;
    width: 30%;
    box-shadow: 5px 5px 5px 5px #a67c7c;
}

.portfolio-box img {
    width: 100%;
}

.portfolio-box:hover {
    box-shadow: 7px 7px 7px 7px #6B4F4F;
}

.portfolio-box a {
    display: flex;
    justify-content: center;
    background-color: #3b2a2a;
    color: #e6e6e6;
    text-decoration: none;
    padding: 10px;
}

.portfolio-box a:hover {
    background-color: #2f4f4f
}

/* Contact section styling for desktop */

.contact-section {
    background-color: #6B4F4F;
    padding: 20px 100px 50px 100px;
    text-align: center;
}

.contact-section a {
    color: #e6e6e6;
    font-family: "Tomorrow", serif;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box i {
    font-size: 4rem;
}

.contact-section .contact-links {
    display: flex;
    justify-content: center;
    gap: 75px;    
}

/* Footer section styling for desktop */

footer, footer nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer {
    margin: 20px 20px 0px 20px;
}    

footer a {
    color: #e6e6e6;
    width: fit-content;
}

footer a:hover {
    background-color: #6B4F4F;
}

/* Hiding burger menu button on desktop */

@media screen and (min-width: 851px) {

    .menu-button {
        display: none;
    }

}

/* Responsive styling for mobile (under 850px) */


@media screen and (max-width: 850px) {

    .hidden {
        display: none;
    }
    
    header, header nav, .header-contact-links {
        flex-direction: column;
        padding: 0px;
        gap: 0px;
    }

    header .nav-contact {
        margin-bottom: 20px;
    }

    .header-social-icon {
        display: none;
    }

    .intro-text {
        text-align: center;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .portfolio {
        flex-direction: column;
        align-content: center;
    }

    .portfolio-box {
        width: 80%;
    }

    .contact-section .contact-links {
        flex-direction: column;
        gap: 20px;
    }

    footer, footer nav {
        align-items: center;
    }

}



