body {
    background-color: #3b2a2a;
    color: #e6e6e6;
    font-family: "Noto Sans", serif;
    font-size: 18px;
    margin: 0 auto;
}

h1 {
    font-family: "Tomorrow", serif;
    font-weight: 600;    
}

h2, h3, h4 {
    font-family: "Tomorrow", serif;
    font-weight: 500;
}

h5, h6 {
    font-family: "Tomorrow", serif;
    font-weight: 400;
}

/* Header styling on desktop */

header {
    font-family: "Tomorrow", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.headshot {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100%;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

header a {
    color: #e6e6e6;
}

header nav a:hover, .nav-contact:hover {
    background-color: #6B4F4F;
}

.header-social-icon:hover {
    color: #2f4f4f;
}

.header-contact-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .menu-button-open, .menu-button-close {
    padding-bottom: 20px;
}

/* Intro/home section styling on desktop */

.intro {
    background-color: #6B4F4F;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.intro-text {
    color: #e6e6e6;
    font-size: 1.5rem;
    align-content: center;
    opacity: 0;
    animation: fadeIn 3s forwards;     
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.intro-text {
    margin: 0px;
}

/* Portfolio section styling on desktop */

.portfolio {
    padding: 100px;    
    background-color: #e6e6e6;
    color: #3b2a2a;     
}

.portfolio-box-target {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.portfolio-box {   
    background-color: #e6e6e6;
    color: #3b2a2a;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px #a67c7c;
    max-width: 500px;
}

.portfolio-box img {
    width: 100%;
    object-fit: cover;
}

.portfolio-box:hover {
    box-shadow: 7px 7px 7px 7px #6B4F4F;
}

.portfolio-box a {
    display: flex;
    justify-content: center;
    background-color: #3b2a2a;
    color: #e6e6e6;
    text-decoration: none;
    padding: 10px;
}

.portfolio-box a:hover {
    background-color: #2f4f4f
}

/* About section styling on desktop */

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 50px 100px 100px 100px;
    background-color: #e6e6e6;
    color: #3b2a2a;    
    font-weight: 300;    
    gap: 50px;
}

.about-text h2 {
    margin: 0px;
}

.pycon-image {
    width: 100%;    
    box-shadow: 5px 5px 5px 5px #a67c7c;
}

/* Contact section styling for desktop */

.contact-section {
    background-color: #6B4F4F;
    padding: 50px 100px;
}

.contact-section a {
    color: #e6e6e6;
}

.contact-links i {
    font-size: 4rem;
}

.contact-links i:hover {
    color: #2f4f4f;
}

.contact-section .contact-links {
    display: flex;
    gap: 50px;    
}

/* Footer section styling for desktop */

footer, footer nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer {
    margin: 20px 20px 0px 20px;
}    

footer a {
    color: #e6e6e6;
    width: fit-content;
}

footer a:hover {
    background-color: #6B4F4F;
}

/* Hiding burger menu buttons on desktop */

@media screen and (min-width: 851px) {

    .menu-button-open, .menu-button-close {
        display: none;
    }

}

/* Responsive styling for under 1200px */

@media screen and (max-width: 1200px) {

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
    }  

}

/* Responsive styling for mobile (under 850px) */

@media screen and (max-width: 850px) {

    .hidden {
        display: none;
    }
    
    header, header nav, .header-contact-links {
        flex-direction: column;
        padding: 0px;
        gap: 0px;
    }

    header .nav-contact {
        margin-bottom: 20px;
    }

    .header-social-icon {
        display: none;
    }

    .intro {
        text-align: center;
        justify-content: center;
    }           

    .portfolio-box-target {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
    }     

    .contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    footer, footer nav {
        align-items: center;
    }

}