body {
    background-color: #3b2a2a;
    color: #e6e6e6;
    font-family: "Noto Sans", serif;
}

h1 {
    font-family: "Tomorrow", serif;
    font-weight: 600;    
}

h2, h3, h4 {
    font-family: "Tomorrow", serif;
    font-weight: 500;
}

h5, h6 {
    font-family: "Tomorrow", serif;
    font-weight: 400;
}

header {
    font-family: "Tomorrow", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
}

header a {
    color: #e6e6e6;
}

header nav a:hover, .nav-contact:hover {
    background-color: #6B4F4F;
} 

header .contact-links {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.intro {
    background-color: #e6e6e6;
    padding: 0px 100px;
}

.intro-text {
    color: #3b2a2a;
    padding: 20px;    
}

.about {
    display: flex;
    padding: 20px 100px;
    gap: 20px;
}

.headshot {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.portfolio {
    display: flex;
    justify-content: space-evenly;
    background-color: #e6e6e6;
    padding: 20px;
}

.portfolio-box a {
    color: #3b2a2a;
    text-align: center;
}

.portfolio-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    color: #3b2a2a;
    padding: 0 20px 20px 20px;
    border: 5px solid #2F4F4F;
}

.contact-section {
    background-color: #6B4F4F;
    padding: 20px 100px;
    text-align: center;
}

.contact-section a {
    color: #e6e6e6;
}

.contact-section .contact-links {
    display: flex;
    justify-content: center;
    gap: 75px;
    padding-bottom: 40px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box i {
    font-size: 50px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 20px 0px 20px;
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer nav a {
    color: #e6e6e6;
    width: fit-content;
}

footer a:hover {
    background-color: #6B4F4F;
}



